:root {
  --color-text-primary: var(--ifm-link-color);
  /*--color-canvas-50: #eef9fd;*/
  /*--color-on-primary: var(--ifm-color-primary);*/
  --color-highlight: rgb(227, 17, 108);
}

.sl-flex.sl-items-center.sl-mb-5.sl-ml-4 {
  display: none;
}

a.sl-flex.sl-items-center.sl-px-4.sl-py-3.sl-border-t {
  display: none;
}

.ElementsTableOfContentsItem {
  font-size: 16px;
  color: rgb(0 0 0 / 85%);
}

.sl-truncate {
  padding: 6px 10px;
  font-size: 16px;
  color: var(--ifm-menu-color);
  font-family: var(--ifm-font-family-base);
  font-weight: var(--ifm-font-weight-semibold);
  justify-content: space-between;
  line-height: 1.5;
}

.sl-flex.sl-overflow-y-auto.sl-flex-col.sl-sticky.sl-inset-y-0.sl-pt-8.sl-bg-canvas-100.sl-border-r {
  border-right: 1px solid rgb(128 128 128 / 25%);
}

.sl-bg-primary-tint {
  color: var(--ifm-menu-color-active);
  background: var(--ifm-menu-color-background-active);
  font-weight: bold;
}
.sl-prose ul:not(.contains-task-list) li:before {
  display:  none;
}
.sl-prose ol li, .sl-prose ul li {
  padding-left: 0;
}

.sl-bg-primary {
  background: none;
  border-radius: 0 !important;
  border-left-width: 4px;
}

.sl-bg-canvas-50 {
  background-color: #eef9fd;
}

html[data-theme='dark'] .sl-bg-canvas-50 {
  background-color: rgba(0, 0, 0, .6);
}

.sl-prose>blockquote > :last-child {
  margin-bottom: 0;
  padding: 0;
}

.sl-prose p:last-child {
  color: #7f8fa4;
}

.sl-mt-px {
  display: none;
}

.sl-text-on-code {
  border: none;
  border-radius: 2px;
  color: var(--color-highlight);
}

.sl-input > input {
  color: var(--color-highlight);
}

/*blockquote.sl-bg-primary {*/
/*  background-color: #eef9fd;*/
/*}*/

/*blockquote > .sl-bg-canvas-pure {*/
/*  background: transparent;*/
/*}*/

.sl-prose thead td, .sl-prose thead th {
  font-size: 1rem;
  color: var(--ifm-heading-color);
}

html[data-theme='dark'] .sl-bg-canvas-100 {
  background-color: #18191a;
}

html[data-theme='dark'] .sl-bg-canvas {
  background-color: #18191a;
}

.sl-flex-1.sl-text-lg {
  padding: 6px 0;
  color: var(--color-highlight);
}

.hover\:sl--translate-y-2:hover {
  --shadow-md: white !important;
}

.sl-duration-300 img{
  max-width: 640px;
  width: 100%;
}
