/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  /*
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  */

  --ifm-color-primary: #0072f5;
  --ifm-color-primary-dark: #0357ed;
  --ifm-color-primary-darker: #472dca;
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);

  /*--ifm-code-font-size: 95%;*/
}

.row .col.col--6 {
  --ifm-col-width: 100%;
}

blockquote {
  padding: 16px 0 16px 16px;
  color: #7f8fa4;
  font-size: 18px;
  border-left: 3px solid #eaeaea;
}

code {
  border: none;
  border-radius: 2px;
  color: rgb(227, 17, 108);
}

.button.button--secondary {
  color: white;
}

.button--secondary:not(.button--outline) {
  --ifm-button-background-color: coral;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, .1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 1);
}

figure {
  width: 100%;
  margin: 0;
  padding: 0;
}

figcaption {
  text-align: center;
  font-size: .85rem;
  line-height: 2;
}

/* viewport-phone */
.docs-vr-phone {
  width: 262px;
  height: 552px;
  position: relative;
  border-radius: 26px;
  overflow: hidden;
}

.docs-vr-phone::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(//vrlab-static.ljcdn.com/release/web/phone3.d690d98c.png);
  background-size: 100%;
  pointer-events: none;
}

.docs-vr-phone .docs-vr-iframe {
  width: 260px;
  height: 548px;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
}

/* viewport-normal */
.docs-vr-normal {
  width: 100%;
  height: 400px;
  position: relative;
  border-radius: var(--ifm-global-radius);
  overflow: hidden;
}

.docs-vr-normal .docs-vr-iframe {
  width: 100%;
  height: 400px;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
}

/* live-demo */
.docs-live-demo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 359px;
  height: 640px;
  width: 100%;
}

.docs-live-demo .docs-live-iframe {
  width: 49.9%;
  min-width: 350px;
  border-radius: var(--ifm-global-radius);
}

.codeBlockLines_node_modules-\@docusaurus-theme-classic-lib-next-theme-CodeBlock-styles-module {
  /* font-size: 13px !important; */
  /* font-family: monospace !important; */
}

/*blockquote {*/
/*  border-color: var(--ifm-blockquote-border-color);*/
/*}*/
/*blockquote > :last-child {*/
/*  font-size: 18px;*/
/*  font-weight: 300;*/
/*  padding: 12px 0;*/
/*}*/


.cover__header {
  background: url('http://vrlab-public.ljcdn.com/common/file/web/5f028f99-e726-47eb-92e9-79082ed4f571.gif') center no-repeat #000;
  background-size: cover;
  min-height: 600px;
}

.cover__mask {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,.6);
}

.cover__header>.container {
  /*color: var(--ifm-color-primary);*/
  text-shadow: 0 0 0.2rem rgba(255, 255, 255, 0.8);
  z-index: 1;
}

html[data-theme='dark'] .cover__header>.container {
  color: white;
}


.footer {
  font-size: 13px;
  line-height: 1;
}

